.my__custom__banner {
    bottom: 5rem;
}

.my__custom_slide__1 {
    background-image: url("../images/slider-1.jpg");
    height: 760px;
}

.my__custom_slide__2 {
    background-image: url("../images/slider-2.jpg");
    height: 760px;
}

.my__custom_slide__3 {
    background-image: url("../images/slider-3.jpg");
    height: 760px;
}

.my__custom__carousel_inside_image {
    height: 150px;
}

@media screen and (max-width: 1024px) {
    .my__custom__banner {
        bottom: 7rem;
    }

    .my__custom__banner__text h1 {
        font-size: 56px;
    }
}

@media screen and (max-width: 768px) {
    .my__custom__banner {
        bottom: 6.5rem;
    }

    .my__custom__banner__text h1 {
        font-size: 46px;
    }
}

@media screen and (max-width: 640px) {

    .my__custom__banner {
        bottom: 5.5rem;
    }

    .my__custom__banner__text h1 {
        font-size: 36px;
    }


}